@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $clr-bg;
  color: $clr-white;
  font-family: "Montserrat", sans-serif;
}

.content {
  max-width: $content-width;
  padding: 1rem;
  margin: 0 auto;

  > :not(:last-child) {
    margin-bottom: 1rem;
  }

  &__lower {
    display: flex;

    @media only screen and (max-width: 650px) {
      button {
        display: none;
      }
      .input-element {
        margin-left: 0;
        margin-right: 0;
      }
    }    
  }
}

.text-field {
  margin-top: 2rem;
  padding: 1rem;
  text-align: justify;
}

.input-element {
  font-family: inherit;
  border: none;
  text-align: center;
  padding: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  border: transparent solid 1px;

  &:focus {
    outline: none;
    border: $clr-gray solid 1px;
  }
}

.element {
  font-size: 1.75rem;
  color: inherit;
  background-color: $clr-bg-element;
  border-radius: 0.75rem;
}

button {
  flex-basis: 5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
    border: $clr-gray solid 2px;
  }
}

.refresh-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(103%) contrast(106%);
  max-height: 1.75rem;
}

.text {
  &--completed {
    color: $clr-green;
  }

  &--uncompleted {
    color: $clr-gray;
  }

  &--good {
    color: $clr-white;
  }

  &--wrong {
    color: $clr-red;
  }
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__element {
    text-align: center;
    flex: 1 1 0px;
    padding: 0.5rem;
    // width: 18%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    h6 {
      font-weight: 100;
      font-size: 1rem;
    }
  }
}

.ranking {
  padding: 1rem;
  table {
    width: 100%;
    text-align: center;
  }
  thead {
    color: rgba(255,255,255, .65)
  }

  &__place {
    width: 15%;
  }
  &__wpm {
    width: 35%;
  }
  &__accuracy {
    width: 35%;
  }
  &__time {
    width: 15%;
  }
}