*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.content__upper {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.content__lower {
  display: flex;
  justify-content: center;
  height: auto;
}

.text-field {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.input-element {
  font-family: inherit;
  max-width: 350px;
  display: block;
  border: none;
  padding: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* make the input box scale down, if there's not enough room */
  /* flex-shrink: 10; */
}

.element {
  font-size: 1.75rem;
  color: #fff;
  background-color: #222;
  border-radius: 0.6rem;
}

button {
  border: none;
  cursor: pointer;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(147deg)
    brightness(103%) contrast(106%);
  /* credit: */
  /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
}

img {
  height: 1.75rem;
}

section {
  display: inline;
}

.section--completed {
  color: greenyellow;
}

.section--uncompleted {
  color: bisque;
}
